# Default ignored files
/../../../:ACM_CODEXPRESS_2.0_100daysOfCode/.idea/shelf/
/../../../:ACM_CODEXPRESS_2.0_100daysOfCode/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../:ACM_CODEXPRESS_2.0_100daysOfCode/.idea/httpRequests/
# Datasource local storage ignored files
/../../../:ACM_CODEXPRESS_2.0_100daysOfCode/.idea/dataSources/
/../../../:ACM_CODEXPRESS_2.0_100daysOfCode/.idea/dataSources.local.xml
